body {
  background-color: powderblue;
}
h1 {
  color: blue;
}
p {
  color: red;
}

{
  background-image: url(img_flwr.gif), url(paper.gif);
  background-position: right bottom, left top;
  background-repeat: no-repeat, repeat;
}
